<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <%- include('./partials/head')%>
</head>

<body>
    <%- include('./partials/navbar') %>

        <main >

            <h1 class="titulo2">Creación de Nuevo Producto</h1>

            <form action="/producto/create" method="post" enctype="multipart/form-data">

                <label for="nombre">Nombre</label>

                <input class="input1" type="text" name="nombre" required>

                <label for="descripcion">Descripcion</label>

                <textarea name="descripcion" required></textarea>

                <label for="descripcion">Composicion</label>

                <textarea name="composicion" required></textarea>

                <label for="categoria">Seleccionar categoria</label>

                <select name="categoria" required>
                    <option value="Hombres">Hombres</option>
                    <option value="Mujeres">Mujeres</option>
                    <option value="Accesorios">Accesorios</option>
                </select>

                <label for="img">Subir Imagen</label>
                <input  type="file" name="img" required>

                <label for="talles">Seleccionar Talle</label>

                <div>
                    <label><input type="checkbox" name="talles" value="XS">  XS<label>
                    <label><input type="checkbox" name="talles" value="S"> S</label>
                    <label><input type="checkbox" name="talles" value="M"> M</label>
                    <label><input type="checkbox" name="talles" value="L"> L</label>
                    <label><input type="checkbox" name="talles" value="XL"> XL</label>
                </div>


                <label for="color">Seleccionar Color</label>

                <select name="color">
                        <option value="Negro">Negro</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Celeste">Celeste</option>
                        <option value="Rosado">Rosado</option>
                        <option value="Gris">Gris</option>
                        <option value="Naranja">Naranja</option>
                        <option value="Azul">Azul</option>
                        <option value="Amarillo">Amarillo</option>
                        <option value="Verde">Verde</option>
                        <option value="Combinado">Combinado</option>
                        <option value="Tricolor">Tricolor</option>
                </select>

                <label for="precio">Precio</label>
                <input class="input1" type="number" name="precio" required>


                <button class="btn1" type="submit">Crear producto</button>

            </form>


                
        </main>


        </main>

</body>
<%- include('./partials/footer')%>

</html>