<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <title>Ambos Seven - Login</title>
    <%- include('./partials/head')%>
</head>
<body>
    <header>
        <%-include('./partials/navbar') %>
    </header>
    <main>
        <%if (locals && locals.errores) {%>

            <%errores.forEach(error => { %>

                <p style="color:red; text-align:center">
                    <%= error.msg%>
                </p>

            <%})%>
 
        <%}%>
        
            <form action="/user/login" method="POST" class="login">
                <h3 class="titulo2">Ingresar</h3>
                <fieldset class="control-login">
                    <label>Dirección de Correo Electrónico</label>
                    <input type="email" name="email" placeholder="tunombre@email.com" class="contraseña">
                </fieldset>
                <fieldset class="control-login">

                    <label>Contraseña</label>
                    <input type="password" name="password" class="contraseña"><i class="fas fa-eye-slash"></i>
                </fieldset>

                <div class="box-check">

                    <fieldset class="control-login acomodar">
                        <input type="checkbox" name="recordarme">
                        <label>Recordarme</label>
                    </fieldset>

                    <fieldset class="control-login">
                        <label>¿Olvidaste tu contraseña?</label>
                    </fieldset>
                </div>

                <fieldset class="control-login">
                    <button type="submit" class="boton">INGRESAR</button>
                </fieldset>

                <fieldset class="control-login">
                    <label>¿No tienes cuenta aún?</label>
                    <a href="/user/registro"><strong>CREAR CUENTA</strong></a>
                </fieldset>

            </form>
    </main>
    <%-include('./partials/footer') %>
</body>
</html>